body {
    background: #FFFFFF;
    color: #177165;
}

li{list-style-type: none;}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li {
    margin: 0;
}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

img {
    max-width: 100%;
    display: block;
}


.wrapper {
    position: relative;
}



.container {
    max-width: 1300px;
    margin: 0 auto;
}


.firstblock {
    margin-bottom: 60px;
}

.firstblock::after {
    content: '';
    min-width: 100%;
    min-height: 895px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    background-color: #177165;
} 

header {
    min-height: 106px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {display: flex;
margin-left: -145px;
}

header li {
    margin-right: 50px;
}
header li:last-child {
    margin-right: 0;
}

header a {
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    text-decoration: none;
    color: #A4D6CF;
}
header a:hover {
    color: #fff;
    transition: .3s linear;
}


header div {
    position: relative;
}

header div::before {
    content: '';
    min-width: 44px;
    min-height: 44px;
    position: absolute;
    left: -48%;
    top: 11%;
    background-image: url('./phone.png');
}

header h2 {
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 29px;
    margin-right: 14px;
}

header div h2:nth-child(1) {
    color: #A4D6CF;
}
header div h2:nth-child(2) {
    color: #FFFFFF;
}

.secondblock {
    display: flex;
    margin-bottom: 100px;
    justify-content: space-between;
}


.secondblock div {
    display: flex;
    margin-top: 45px;
    margin-left: 85px;
    flex-direction: column;
}

.secondblock h4 {
    margin-bottom: 20px;
    margin-left: 55px;
    position: relative;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 29px;
    color: #A4D6CF;
}
.secondblock h4::before {
    content: '';
    min-width: 40px;
    min-height: 1px;
    position: absolute;
    left: -14%;
    top: 50%;
    background: #A4D6CF;
}

.secondblock h2 {
    margin-bottom: 11px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 78px;
    color: #FFFFFF;
}
.secondblock h4:nth-child(3) {
    margin-bottom: 60px;
    margin-left: 40px;
}
.secondblock h4:nth-child(3)::before {
    min-width: 25px;
    left: -10%;
}


.secondblock a {
    padding: 9px 71px 9px 52px;
    max-width: 212px;
    background: #FFFFFF;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-decoration: none;
    color: #177165;
}
.secondblock a::after {
    content: '+';
    position: absolute;
    left: 70%;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #177165;
}

.secondblock img {
    margin-right: 87px;
}

.thirdblock {
    margin-bottom: 100px;
}


.thirdblock_inner {
    margin-left: 80px;
}

.thirdblock_inner h4 {
    margin-left: 50px;
    margin-bottom: 15px;
    position: relative;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #777777;
}
.thirdblock_inner h4::before {
    content: '';
    min-width: 40px;
    min-height: 1px;
    position: absolute;
    left: -4.5%;
    top: 40%;
    background-color: #777777;
}

.thirdblock_inner h3 {
    margin-bottom: 47px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    color: #177165;
}


.thirdblock_inner div {
    min-height: 805px;
    display: flex;

}

.thirdblock_inner div div {
    display: flex;
    align-items: flex-start;
    justify-content: start;
    flex-direction: column;
    margin-top: 70px;
    margin-left: 118px;
}

.thirdblock_inner div h2 {
    margin-bottom: 23px;
    margin-top: 4px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 35px;
    color: #177165;
}

.thirdblock_inner div h4 {
    margin-left: 0;
    margin-bottom: 20px;
}
.thirdblock_inner div h4::before {
    display: none;
}

.thirdblock_inner div h3 {
    margin-bottom: 33px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    color: #177165;
}

.thirdblock_inner div h4:nth-child(6) {
    margin-bottom: 86px;
}

.thirdblock_inner div a {
    padding: 10px 64px 8px 56px;
    border: 2px solid #177165;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-decoration: none;
    color: #177165;
}
.thirdblock_inner div a::after {
    content: '+';
    position: absolute;
    right: 20%;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #177165;
}

.fourthblock {
    min-height: 882px;
    display: flex;
    align-items: center;
}
.fourthblock::before {
    content: '';
    min-width: 100%;
    min-height: 882px;
    position: absolute;
    left: 0;
    z-index: -1;
    background: #E1F4F2;
}

.fourthblock_inner {
    margin-left: 80px;
}

.fourthblock_inner h4 {
    margin-bottom: 10px;
    margin-left: 50px;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 29px;
    color: #777777;
}
.fourthblock_inner h4::before {
    content: '';
    min-width: 40px;
    min-height: 1px;
    position: absolute;
    left: -4.5%;
    top: 50%;
    background: #777777;
}


.fourthblock_inner h3 {
    margin-bottom: 49px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    color: #177165;
}


.fourthblock_inner div {
    display: flex;
}

.fourthblock_inner div div {
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
.fourthblock_inner div div:last-child {
    margin-right: 0px;
}

.fourthblock_inner div img {
    margin-bottom: 30px;
}

.fourthblock_inner div h4 {
    margin-left: 0;
    margin-bottom: 3px;
}
.fourthblock_inner div h4::before {
    display: none;
}

.fourthblock_inner div h3 {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    color: #177165;
}

.fourthblock_inner a {
    margin-left: 40%;
    padding: 8px 58px 10px 58px;
    border: 2px solid #177165;
    position: relative;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-decoration: none;
    color: #177165;
}
.fourthblock_inner a::after {
    content: '+';
    position: absolute;
    right: 20%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #177165;
}

.fifthblock {
    min-height: 375px;
    display: flex;
    align-items: center;
    margin-left: 193px;
}
.fifthblock::before {
    content: '';
    min-width: 100%;
    min-height: 375px;
    position: absolute;
    left: 0;
    z-index: -1;
    background: #177165;
}

.fifthblock_inner {
    position: relative;
}

.fifthblock_inner h4 {
    margin-left: 50px;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 29px;
    color: #A4D6CF;
}
.fifthblock_inner h4::before {
    content: '';
    min-width: 40px;
    min-height: 1px;
    position: absolute;
    left: -8.5%;
    top: 50%;
    background-color: #A4D6CF;
}


.fifthblock_inner h3 {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    color: #FFFFFF;
    margin-top: 12px;
}


.fifthblock_inner div {
    min-width: 463px;
    min-height: 98px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 27%;
    right: -104%;
    background: #23786D;
}

.fifthblock_inner div h4 {
    margin-left: 207px;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 29px;
    color: #A4D6CF;
}
.fifthblock_inner div h4:nth-child(2) {
    color: #fff;
}

.fifthblock_inner div h4:nth-child(2):before {
    display: none;
}

.fifthblock_inner div h4:nth-child(1):before {
    content: '';
    min-width: 44px;
    min-height: 44px;
    border-radius: 20px;
    position: absolute;
    left: -29%;
    top: 23%;
    background-color: #23786D;
    background-image: url('./phone.png');
}

.sixthblock {
    min-height: 1111px;
    display: flex;
    position: relative;
    align-items: center;
}
.sixthblock::before {
    content: '';
    min-width: 503px;
    min-height: 850px;
    position: absolute;
    left: -6%;
    top: 0;
    z-index: -1;
    background: rgba(225, 244, 242, 0.8);
}

.sixthblock_inner {
    margin-left: 80px;
    display: flex;
    flex-direction: column;
}

.sixthblock_inner h4 {
    margin-bottom: 11px;
    margin-left: 530px;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    color: #777777;
}
.sixthblock_inner h4::before {
    content: '';
    min-width: 40px;
    min-height: 1px;
    position: absolute;
    left: -8%;
    top: 40%;
    background-color: #777777;
}

.sixthblock_inner h2 {
    margin-left: 483px;
    margin-bottom: 51px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    color: #177165;
}


.sixthblock_inner div {
    display: flex;
}



.sixthblock_inner div div {
    max-width: 347px;
    min-height: 528px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
}

.sixthblock_inner div h4 {
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.sixthblock_inner div h4::before {
    left: -17%;
}


.sixthblock_inner div h2 {
    margin-left: 0;
    margin-bottom: 18px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 42px;
    color: #177165;
}

.sixthblock_inner div h3 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #777777;
}

.seventhblock {
    min-height: 415px;
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}
.seventhblock::before {
    content: '';
    min-width: 100%;
    min-height: 415px;
    position: absolute;
    left: 0;
    z-index: -1;
    background: #177165;
}


.seventhblock_inner {
    margin-left: 80px;
    display: flex;
    align-items: center;
}

.seventhblock_inner h4 {
    margin-left: 50px;
    margin-bottom: 10px;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 29px;
    color: #A4D6CF;
}
.seventhblock_inner h4::before {
    content: '';
    min-width: 40px;
    min-height: 1px;
    position: absolute;
    top: 45%;
    left: -10%;
    background: #A4D6CF;
}


.seventhblock_inner h3 {
    margin-right: 94px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    color: #FFFFFF;
}

.eighthblock {
    margin-bottom: 100px;
}


.eighthblock_inner {
    max-width: 1140px;
    margin-left: 80px;
    display: flex;
    background: #E1F4F2;
}


.eighthblock_inner div {
    min-width: 285px;
    min-height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.eighthblock_inner div::after {
    content: '';
    min-width: 4px;
    min-height: 7px;
    position: absolute;
    right: 0;
    background: #177165;
}
.eighthblock_inner div:last-child::after {display: none;}


.eighthblock_inner h2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 73px;
    color: #177165;
}

.eighthblock_inner h4 {
    margin-left: 50px;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 29px;
    color: #777777;
}
.eighthblock_inner h4::before {
    content: '';
    min-width: 40px;
    min-height: 1px;
    position: absolute;
    left: -50%;
    top: 45%;
    background: #777777;
}

.ninethblock {
    margin-bottom: 100px;
}

.ninethblock_inner {
    margin-left: 80px;
    margin-bottom: 40px;
    max-width: 1140px;
    min-height: 530px;
    position: relative;
    background-image: url('./bg.png');
}

.ninethblock_inner div {
    min-width: 266px;
    min-height: 333px;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    padding-top: 60px;
    background: #177165;
}


.ninethblock_inner li {
    margin-bottom: 0px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #A4D6CF;
}
.ninethblock_inner h2 {
    margin-bottom: 20px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
}


.ninethblock img {
    margin-left: 80px;
    height: 70px;
    width: 206px;
}

.tenthblock {
    display: flex;
    align-items: center;
    min-height: 802px;
    margin-bottom: 100px;
}
.tenthblock::before {
    content: '';
    min-width: 100%;
    min-height: 802px;
    position: absolute;
    left: 0;
    z-index: -1;
    background: #E1F4F2;
}

.tenthblock_inner {
    margin-left: 80px;
    padding-top: 24px;
}

.tenthblock_inner h4 {
    margin-left: 50px;
    margin-bottom: 10px;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    color: #777777;
}
.tenthblock_inner h4::before {
    content: '';
    min-width: 40px;
    min-height: 1px;
    position: absolute;
    left: -6.5%;
    top: 50%;
    background: #777777; 
}

.tenthblock_inner h2 {
    margin-bottom: 52px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    color: #177165;
}

.tenthblock_inner div {

    width: 540px;
    height: 451px;
    padding-top: 60px;
    padding-left: 60px;
    background: #ffffff;
    margin-left: 206px;
}

.tenthblock_inner h1 {
    margin-bottom: 51px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 42,25px;
    color: #177165;
}

.tenthblock_inner h3 {
    margin-bottom: 72px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    color: #177165;
}
.tenthblock_inner h5 {
    margin-left: 50px;
    margin-bottom: 15px;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 29px;
    color: #777777;
}
.tenthblock_inner h5::before {
    content: '';
    min-width: 40px;
    min-height: 1px;
    position: absolute;
    left: -11.5%;
    top: 50%;
    background: #777777; 
}

.eleventhblock {
    margin-bottom: 0px;
}

.eleventhblock_inner {
    margin-left: 80px;
}


.eleventhblock_inner h4 {
    margin-bottom: 10px;
    margin-left: 50px;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    color: #777777;
}
.eleventhblock_inner h4::before {
    content: '';
    min-width: 40px;
    min-height: 1px;
    position: absolute;
    left: -4.5%;
    top: 45%;
    background: #777777; 
}

.eleventhblock_inner h2 {
    margin-bottom: 52px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    color: #177165;
}


.eleventhblock_inner_info {
    display: flex;
    margin-right: 30px;
}
.eleventhblock_inner_info div {
    margin-right: 30px;
}
.eleventhblock_inner_info div:last-child {
    margin-right: 0;
}

.eleventhblock_inner_info div div {
    min-width: 555px;
    min-height: 363px;
    padding-top: 30px;
    padding-left: 30px;
    background: #E1F4F2;
}

.eleventhblock_inner_info h4{
    margin-left: 0;
    margin-right: 5px;
    margin-bottom: 23px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #177165;
}
.eleventhblock_inner_info h4::before {
    display: none;
}

.eleventhblock_inner_info span {
    margin-right: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #777777;
}

.eleventhblock_inner_info h2 {
    margin-bottom: 18px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 41px;
    color: #177165;
}

.eleventhblock_inner_info h3 {
    margin-bottom: 45px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #777777;
}

.eleventhblock_inner_info a {
    padding: 15px 76px 15px 57px;
    background: #FFFFFF;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-decoration: none;
    color: #177165;
}
.eleventhblock_inner_info a::after {
    content: '+';
    position: absolute;
    right: 27%;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #177165;
}

.twelvethblock {
    margin-top: 200px;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
}
.twelvethblock::before {
    content: '';
    min-width: 100%;
    min-height: 320px;
    position: absolute;
    left: 0;
    z-index: -1;
    background: #E1F4F2;
}

.twelvethblock_inner {
    margin-left: 136px;
    display: flex;
}

.twelvethblock_inner img {
    margin-right: 114px;
}

.thirteenblock {
    min-height: 684px;
}
.thirteenblock::before {
    content: '';
    min-width: 100%;
    min-height: 665px;
    position: absolute;
    left: 0;
    z-index: -1;
    background: #177165;
}

.thirteenblock_inner {
    margin-left: 82px;
    padding-top: 100px;
    min-width: 1160px;
    min-height: 465px;
    display: flex;
}

.thirteenblock_inner ul {
    margin-right: 80px;
    margin-top: 64px;
}

.thirteenblock_inner h2 {
    margin-bottom: 40px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
}

.thirteenblock_inner li {
    margin-left: 30px;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 52px;
    color: #FFFFFF;
}
.thirteenblock_inner li::before {
    content: '';
    min-width: 7px;
    min-height: 9px;
    position: absolute;
    left: -30%;
    top: 40%;
    background-image: url('./img/twelvethblock/arrows.png');
}

.thirteenblock_inner ul:nth-child(2) li::before {
    left: -22%;
}
.thirteenblock_inner ul:nth-child(3) li::before {
    left: -40%;
}


.thirteenblock_inner div {
    min-width: 463px;
    min-height: 465px;
    padding-top: 70px;
    padding-left: 70px;
    background: #23786D;
    margin-left: 85px;  
}

.thirteenblock_inner div img {
    margin-bottom: 88px;
}

.thirteenblock_inner h3 {
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}

.thirteenblock_inner h4:nth-child(3) {
    margin-left: 80px;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 29px;
    color: #A4D6CF;
}
.thirteenblock_inner h4:nth-child(3)::before {
    content: '';
    min-width: 44px;
    min-height: 44px;
    position: absolute;
    left: -24%;
    top: 33%;
    background-image: url('./phone.png');
}

.thirteenblock_inner h4:nth-child(4) {
    margin-left: 80px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 29px;
    color: #FFFFFF;
}

.fourthteen {
    display: flex;
    align-items: center;
    justify-content: center;
}
.fourthteen::before {
    content: '';
    min-width: 100%;
    min-height: 66px;
    position: absolute;
    left: 0;
    z-index: -1;
    background: #0A312C;
}

.fourthteen h2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
}

.fourthteen span {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #A4D6CF;
}